{include file="template/header.tpl" title="encabezado"}
<div id="content" style="text-align:center">
    <h1>{$language->translate('bienvenido')}</h1>
    <h3>{$language->translate('registrese')}</h3>
 </div>
{include file="template/footer.tpl" title="footer"}