{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <br>
    <h2>{$language->translate('login')}</h2>
    <form action="{$url}{$lang}/user/validar" method="post">

        <label>  {$language->translate('usuario')}</label><input type="text" name="usuario"><br>
        <label>  {$language->translate('contrasena')}</label><input type="password" name="contrasena"><br>
        <label> </label><input type="submit" value="{$language->translate('submit')}">
    </form>

    <p style="color:red;">{$error}</p>

</div>
{include file="template/footer.tpl" title="footer"}