{include file="template/header.tpl" title="encabezado"}
<div id="content">
    <h2>{$language->translate('study_plans')}</h2>

    <p id="push">Pulsa para cargar el texto: </p>

    <div id="idTxt" style="background-color: lime; padding: 1em;">
        vacio
    </div>
    <br>
    <div id="idTxt2" style="background-color: lime; padding: 1em;">
        vacio
    </div>

</div>
{include file="template/footer.tpl" title="footer"}